:root {
    --mainEng-font: "Montserrat";
    --mainEng2-font: "Kanit";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";


    --mainBG-color: #1E3C72;
    --sub01: #3f3684;
    --sub02: #f7cfd6;
    --sub03: #b3d4f6;
    --sub04: #31508a;
    --sub05: #f7cfd6;
    --sub11: #31508a;
    --sub12: #536d9c;
    --sub13: #6f91d1;
    --sub14: #9bb6e9;


    --white: #ffffff;
    --black: #000000;
    --black100: #000000;
    --black200: #000000;
    --black300: #000000;
    --black400: #000000;
    --black500: #000000;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}
body {
    background-color: var(--mainBG-color);
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}
