:root {
    --mainEng-font: "Montserrat";
    --mainEng2-font: "Kanit";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";


    --mainBG-color: #cfe8f7;
    --sub01: #44a4ce;
    --sub02: #151617;
    --sub03: #204086;
    --sub04: #246bc8;

    --sub05: #f7cfd6;

    --sub11: #e9ebef;
    --sub12: #ced6de;
    --sub13: #94aeb4;
    --sub14: #465f7a;


    --white: #ffffff;
    --black: #000000;
    --black100: #000000;
    --black200: #000000;
    --black300: #000000;
    --black400: #000000;
    --black500: #000000;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}
body {
    background-color: var(--mainBG-color);
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}
